<?xml version="1.0"?>

<!-- Not Quite working yet -->
<launch>
  <arg name="drone_name"          default="ragnarok"/>
  <arg name="sim_truth"           default="ground_truth/odometry/NED"/>
  <arg name="sim_gps"             default="gps/data"/>
  <arg name="mav_name"            default="multirotor"/>
  <arg name="color"               default="White"/>
  <arg name="x"                   default="0"/>
  <arg name="y"                   default="0"/>
  <arg name="z"                   default="0.1"/>
  <arg name="yaw"                 default="0"/>
  <arg name="debug"               default="false"/>

  <!-- Start Simulator -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="verbose" value="false"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <!-- Spawn Model in Gazebo -->
  <include file="$(find roscopter_sim)/launch/spawn/spawn_mav.launch">
    <arg name="mav_name"            value="$(arg mav_name)" />
    <arg name="model"               value="$(find roscopter_sim)/xacro/$(arg mav_name).urdf.xacro" />
    <arg name="x"                   value="$(arg x)"/>
    <arg name="y"                   value="$(arg y)"/>
    <arg name="z"                   value="$(arg z)"/>
    <arg name="yaw"                 value="$(arg yaw)"/>
    <arg name="color"               value="$(arg color)"/>
  </include>

  <group ns="$(arg mav_name)">
    <include file="$(find roscopter)/launch/include/roscop.launch">
      <remap from="sim_truth" to="$(arg sim_truth)"/>
      <remap from="sim_gps" to="$(arg sim_gps)"/>
    </include>

      <!-- Is Flying Publisher -->
    <node pkg="rostopic" type="rostopic" name="is_flying_pub" args="pub is_flying std_msgs/Bool true"/>

    <!-- Status Publisher -->
    <node pkg="rostopic" type="rostopic" name="status_pub" args="pub -r 1 status rosflight_msgs/Status '{armed: true, failsafe: false, rc_override: false, offboard: true, error_code: 0, num_errors: 0, loop_time_us: 1}'"/>
  </group>

  <!--Throttle ground truth for use in the estimator. Estimator cant handle 1000hz-->
  <node name="truth_throttler" type="throttle" pkg="topic_tools" args="messages /multirotor/ground_truth/odometry/NED 100 /multirotor/ground_truth/odometry/NED_throttled" />

  <node pkg="rosbag" type="record" name="record" output="screen" args="-O ../data/boatLanding_sim/default.bag --all"/>

</launch>
