<?xml version="1.0"?>

<launch>

  <arg name="drone_name"          default="ragnarok"/>
  <arg name="target_name"         default="boat_landing_platform"/>
  <arg name="controller_params"   default="$(find roscopter)/params/$(arg drone_name).yaml"/>
  <arg name="waypoints_params"     default="$(find roscopter)/params/waypoints.yaml"/>
  <arg name="ublox_gnss"          default="/PosVelEcef"/>
  <arg name="ublox_relpos"        default="/RelPos"/>
  <arg name="base_odom"           default="/boat/odom"/>

  <!-- Load common parameters -->
  <rosparam command="load" file="$(arg controller_params)"/>
  <!-- PID Position Controller -->
  <node name="controller" pkg="roscopter" type="ff_cntrl_node" output="screen">
    <remap from="target_estimate" to="$(arg boat_odom)"/>
    <remap from="estimate" to="odom"/>
    <remap from="waypoint" to="high_level_command"/>
  </node>

  <!-- Estimator -->
  <rosparam command="load" file="$(find roscopter)/params/ekf.yaml" ns="estimator"/>
  <node name="estimator" type="ekf_node" pkg="roscopter" output="screen"> 
    <remap from="imu" to="/imu/data"/>
    <!-- <remap from="baro" to="/baro"/> -->
    <!-- <remap from="reference" to="/truth/NED"/> -->
    <remap from="ublox_gnss" to="$(arg ublox_gnss)"/>
    <remap from="ublox_relpos" to="$(arg ublox_relpos)"/>
    <remap from="ack_received_ref_lla" to="boat/ack_received_ref_lla"/>
  </node>

  <!-- Waypoint Manager -->
  <rosparam command="load" file="$(arg waypoints_params)"/>
  <node name="waypoint_manager" pkg="roscopter" type="waypoint_manager.py" output="screen">
    <remap from="waypoint" to="high_level_command"/>
    <remap from="state" to="odom"/>
    <remap from="base_odom" to="$(arg base_odom)"/>
  </node>

</launch>
