<?xml version="1.0"?>

<launch>

  <arg name="base_serial_port"    value="/dev/ttyACM0"/>
  <arg name="base_host"           value="192.168.1.118"/>
  <arg name="base_port"           value="16140"/>
  <arg name="compass_serial_port" value="/dev/ttyACM1"/>
  <arg name="compass_host"        value="$(arg base_host)"/>
  <arg name="compass_port"        value="16145"/>
  <arg name="rover_host"          value="192.168.1.4"/>
  <arg name="rover_port"           value="16140"/>
  <arg name="ublox_gnss"          value="/boat/base/PosVelEcef"/>
  <arg name="ublox_relpos"        value="/boat/compass/RelPos"/>
  <arg name="base_odom"           value="/boat/odom"/>
  <arg name="common_ref_lla" value="/ref_lla"/>

  <group ns="boat">
    <node name="f9p" pkg="ublox" type="ublox_ros">
      <param name="serial_port" value="$(arg base_serial_port)"/>
      <param name="local_host" value="$(arg base_host)"/>
      <param name="local_port" value="16140"/>
      <param name="rover_host" value="$(arg rover_host)"/>
      <param name="rover_port" value="16140"/>
      <param name="local_host2" value="$(arg base_host)"/>
      <param name="local_port2" value="16145"/>
      <param name="rover_host2" value="$(arg base_host)"/>
      <param name="rover_port2" value="16150"/>
      <rosparam command="load" file="$(find ublox)/params/ublox.yaml"/>
      <param name="rover_quantity" value="2"/>
      <param name="base_type" value="moving"/>
    </node>

    <group ns="compass">
      <node name="f9p" pkg="ublox" type="ublox_ros">
        <param name="serial_port" value="$(arg compass_serial_port)"/>
        <param name="local_host" value="$(arg base_host)"/>
        <param name="local_port" value="16150"/>
        <param name="base_host" value="$(arg base_host)"/>
        <param name="base_port" value="16145"/>
        <rosparam command="load" file="$(find ublox)/params/ublox.yaml"/>
        <param name="rover_quantity" value="0"/>
        <param name="base_type" value="moving"/>
        <param name="message_rate" value="5"/>
      </node>
    </group>

    <include file="$(find roscopter)/launch/include/boat_estimator.launch">
      <arg name="ublox_gnss" value="$(arg ublox_gnss)"/>
      <arg name="ublox_relpos" value="$(arg ublox_relpos)"/>
      <arg name="common_ref_lla" value="$(arg common_ref_lla)"/>
    </include>

    <include file="$(find roscopter)/launch/include/is.launch"/>
  </group>
</launch>
