<!-- !!!!!!!!!!!!!!!!!!!!!!!! Needs to be finished !!!!!!!!!!!!!!!!!!!-->

<?xml version="1.0"?>

<launch>
  <arg name="f4_serial_port"      default="/dev/ttyACM0"/>

  <node name="rosflight_io" pkg="rosflight" type="rosflight_io" output="screen">
    <param name="udp" value="false"/>
    <param name="port" value="$(arg f4_serial_port)"/>
  </node>
  
  <include file="$(find roscopter)/launch/roscop.launch">
    <arg name="drone_name"          value="ragnarok"/>
    <arg name="target_name"         value="boat_landing_platform"/>
  </include> 

  <!--May need to fix this-->
  <include file="$(find inertial_sense)/launch/inertial_sense.launch"/>

  <include file="$(find ublox)/launch/rover.launch">
    <arg name="rover_serial_port" default="/dev/ttyACM1"/>
    <arg name="base_host" default="192.168.0.143"/>
    <arg name="rover_host" default="192.168.0.84"/>
  </include> 

  <node pkg="rosbag" type="record" name="record" output="screen" args="-o ../data/outdoor --all"/>
</launch>
