<?xml version="1.0"?>

<launch>

  <arg name="target_name"         value="boat_landing_platform"/>
  <arg name="is_serial_port" default="/dev/ttyUSB0"/>
  <arg name="ublox_gnss" value="PosVelEcef"/>
  <arg name="ublox_relpos" value="compass/RelPos"/>
  <arg name="common_ref_lla" value="/ref_lla"/>

  <group ns="boat">
    <!--not actually flying, but need to publish this to make the estimator run-->
    <node pkg="rostopic" type="rostopic" name="is_flying_pub" args="pub is_flying std_msgs/Bool true"/>
    <include file="$(find roscopter)/launch/outdoor/boat_estimator.launch">
      <remap from="ublox_gnss" to="$(arg ublox_gnss)"/>
      <remap from="ublox_relpos" to="$(arg ublox_relpos)"/>
      <remap from="common_ref_lla" to="$(arg common_ref_lla)"/>
    </include>
    <include file="$(find roscopter)/launch/is.launch"/>
  </group>
</launch>
