<?xml version="1.0"?>

<launch>

  <!--A lot needs to be changed in this.  It is conceptual right now.-->
  <arg name="target_name"         value="boat_landing_platform"/>
  <arg name="is_serial_port" default="/dev/ttyUSB0"/>
  <arg name="base_serial_port" default="/dev/ttyACM0"/>
  <arg name="compass_serial_port" default="/dev/ttyACM1"/>
  <arg name="base_host" default="192.168.0.143"/>
  <arg name="rover_host" default="192.168.0.84"/>

  <group ns="boat">
    <include file="$(find roscopter)/launch/outdoor/boat_estimator.launch"/>
    <include file="$(find ublox)/launch/base.launch">
      <arg name="base_serial_port" default="/dev/ttyACM1"/>
      <arg name="base_host" default="192.168.0.143"/>
      <arg name="rover_host" default="192.168.0.84"/>
    </include>
    <group ns="compass">
      <include file="$(find ublox)/launch/oneComp.launch"/>
        <arg name="base_serial_port" default="/dev/ttyACM1"/>
        <arg name="rover_serial_port" default="/dev/ttyACM0"/>
        <arg name="base_host" default="192.168.0.143"/>
        <arg name="rover_host" default="192.168.0.84"/>
      </include>
    </group>
  </group>

  <node pkg="rosbag" type="record" name="record" output="screen" args="-O ../data/base --all"/>

</launch>
